* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
}

#nav-menu {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    background-color: #f5f5f5;
    padding: 10px;
}

#nav-menu>.nav-link {
    text-decoration: none;
    color: #333;
    text-align: center;
    padding: 10px;
}

/* -------------------  */
#home {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    place-items: center;
    height: 100vh;
    background-color: #f9f9f9;
}

#home>.home-content {
    line-height: 50px;
    font-size: 35px;
    padding: 5px;
}

.home-icon a {
    font-size: 20px;
    color: rgb(41, 8, 8);

}

.home-img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

#about {
    height: 100vh;
    place-items: center;
    padding: 50px;
}

#about>h2 {
    height: 40px;
}

#skills {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    margin: auto;
}

.skills-card {
    display: grid;
    place-items: center;
    background-color: #f9f9f9;
    padding: 20px;
    text-align: center;
}

.skills-card-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    zoom: 1.1;
    object-fit: fill;
}

#projects {
    display: grid;
    place-items: center;
    padding: 50px;
}

.project-card {
    width: 95%;
    display: grid;
    place-items: center;
    background-color: #f9f9f9;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

#contact {
    display: grid;
    place-items: center;
    padding: 50px;
}

#resume {
    display: grid;
    place-items: center;
    padding: 50px;
}

#resume-button-1,
#resume-link-1 {
    margin: 10px;
}

/* ------------------  */
.material-symbols-outlined {
    display: none;
}

@media screen and (max-width: 768px) {
    #nav-menu {
        grid-template-columns: repeat(6, 1fr);
    }

    .nav-link {
        display: none;
    }

    .material-symbols-outlined {
        display: inline;
        font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 48
    }

    #home {
        flex-direction: column;
    }

    .home-content .home-txt {
        text-align: center;
    }

    #skills {
        grid-template-columns: repeat(2, 1fr);
    }

    #projects {
        grid-template-columns: 1fr;
    }



}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    #nav-menu {
        grid-template-columns: repeat(6, 1fr);
    }

    .nav-link {
        display: none;
    }

    .material-symbols-outlined {
        display: inline;
        font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 48
    }

    #home {
        width: 100%;
    }

}