* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #f9f9f9;
    color: #fff;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}

.logo {
    font-size: 32px;
}

.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu li:hover {
    background-color: #e9eae4;
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li {
    list-style: none;
    padding: 5px 14px;
}

input[type=checkbox] {
    display: none;
}

.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

@media (max-width: 770px) {

    .menu {
        display: none;
        position: absolute;
        background-color: grey;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }

    .menu li:hover {
        display: inline-block;
        background-color: #e9eae4;
        transition: 0.3s ease;
    }

    .menu li+li {
        margin-top: 12px;
    }

    input[type=checkbox]:checked~.menu {
        display: block;
    }

    .hamburger {
        display: block;
    }
}

/* -------------------  */
#home {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    place-items: center;
    height: 100vh;
    background-color: #f9f9f9;
}

#home>.home-content {
    line-height: 50px;
    font-size: 35px;
    padding: 5px;
}

.home-icon a {
    font-size: 20px;
    color: rgb(41, 8, 8);

}

.home-img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

#about {
    height: 100vh;
    place-items: center;
    padding: 50px;
}

#about>h2 {
    height: 40px;
}

#skills {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    margin: auto;
}

.skills-card {
    display: grid;
    place-items: center;
    background-color: #f9f9f9;
    padding: 20px;
    text-align: center;
}

.skills-card-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    zoom: 1.1;
    object-fit: fill;
}

#projects {
    display: grid;
    place-items: center;
    padding: 50px;
}

.project-card {
    width: 95%;
    display: grid;
    place-items: center;
    background-color: #f9f9f9;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

#contact {
    display: grid;
    place-items: center;
    padding: 50px;
}

#resume {
    display: grid;
    place-items: center;
    padding: 50px;
}

#resume-button-1,
#resume-link-1 {
    margin: 10px;
}


@media screen and (max-width: 768px) {
    #home {
        flex-direction: column;
    }

    .home-content .home-txt {
        text-align: center;
    }

    #skills {
        grid-template-columns: repeat(2, 1fr);
    }

    #projects {
        grid-template-columns: 1fr;
    }


}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    #home {
        width: 100%;
    }

}