* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu;
}

/* navbar style */
.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #e9eae4;
  position: fixed;
  top: 0;
  color: black;
}

.logo {
  font-size: 32px;
}

.nav-links a {
  color: black;
  text-decoration: none;
}

.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.menu li:hover {
  border: 1px solid grey;
  border-radius: 5px;
  transition: 0.3s all;
}

.menu li {
  list-style: none;
  padding: 5px 14px;
}

input[type="checkbox"] {
  display: none;
}

.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

/* home section style */
#home {
  width: 80%;
  margin: auto;
  margin-top: 70px;
  display: flex;
  padding: 20px;
  flex-direction: row;
  justify-content: space-around;
  place-items: center;
  background-color: #f9f9f7;
  min-height: 60vh;
}

.home-icon {
  display: flex;
  gap: 10px;
  width: max-content;
  justify-content: center;
  width: 100%;
}

.home-icon div {
  align-items: center;
}

.home-icon a {
  font-size: 20px;
  padding-right: 5px;
  color: rgb(41, 8, 8);
}

#home  .home-content {
  width: max-content;
  line-height: 50px;
  font-size: 35px;
  padding: 5px;
  text-align: center;
}

/* About section style */
#about {
  width: 80%;
  place-items: center;
  padding: 17px;
  margin: auto;
}

#about > h2 {
  height: 40px;
}

#about h3 {
  height: 40px;
}
#about > p {
  line-height: 30px;
}

/* Skill section style */
#skills {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2%;
  padding: 2%;
  margin: auto;
}

.skills-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f9f9f9;
  text-align: center;
}

.skills-card-img {
  width: 30%;
  /* height: 150px; */
  border-radius: 50%;
  zoom: 1.1;
  object-fit: fill;
}

/* Project section style */
#projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  padding: 20px;
  width: 80%;
  margin: auto;
  gap: 16px;
}

#projects img {
  width: 100%;
  height: 100px;
}

.project-card {
  display: grid;
  place-items: center;
  width: 100%;
  background-color: #f9f9f9;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.depolyed {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

/* contact section style */
#contact {
  display: grid;
  place-items: center;
  box-sizing: border-box;
  line-height: 30px;
  padding-top: 15px;
}

.react-activity-calendar {
  width: 80%;
  margin: auto;
}

.react-activity-calendar img {
  max-width: 400px;
  width: 100%;
  height: 60vh;
  max-width: 400px;
  max-height: 250px;
  margin-left: auto;
}


.home-img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
}
.heading {
  text-align: center;
  margin-top: 75px;
}

.heading h2 {
  font-size: 30px;
}

.heading span {
  color: rgb(2, 166, 70);
}

/* media queries for mobile devices */
@media (max-width: 767px) {
  .menu {
    display: none;
    position: absolute;
    right: 0;
    text-align: center;
    background-color: #e9eae4;
    padding: 16px 0;
  }

  .menu li:hover {
    display: inline-block;
    background-color: #dcddd7;
    transition: 0.3s ease;
  }

  .menu li + li {
    margin-top: 12px;
  }

  input[type="checkbox"]:checked ~ .menu {
    display: block;
  }

  .hamburger {
    display: block;
  }

  .react-activity-calendar img {
    height: 150px;
  }
}

.home-img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
}
.heading {
  text-align: center;
  margin-top: 75px;
}

.heading h2 {
  font-size: 30px;
}

.heading span {
  color: rgb(2, 166, 70);
}
/* media queries for desktops and laptops devices */
@media screen and (max-width: 768px) {
  #home {
    flex-direction: column;
  }

  #home img {
    width: 70%;
  }

  .home-txt,
  .home-icon {
    text-align: center;
    font-size: 20px;
  }

  .home-icon a {
    line-height: 16px;
    font-size: 16px;
  }

  #skills {
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
  }

  #projects {
    grid-template-columns: 1fr;
  }

  .depolyed {
    flex-direction: column;
  }
}

/* media queries for tablets devices */
@media screen and (min-width: 768px) and (max-width: 1223px) {
  #home {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 75px;
  }
  .depolyed {
    flex-direction: column;
  }

  .react-activity-calendar img {
    width: 98%;
  }
}
